@CHARSET "UTF-8";

body {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.main-content {
	height:600px;	
}

.location{
	display:none;

.infoView{
	width: 260px;
	height: 200px;
}

#map{
	width: 100%;
}
